---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>Welcome to the Barrel 🛢️</h4>
			<p>
				The official site for all software created in the Barrel of Ideas
			</p>
			
			<p>
				Want to improve your record in the Generation 4 Battle Factory?</br>
				<a href={`/products/factorylyze/`}>Factorylyze</a> is the right tool for the job.
			</p>
		</main>
		<Footer />
	</body>
</html>
